
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.crypto-dash-container
{
	width:250px;
	height:700px;
	border:1px solid blue;
	position:absolute;
	top:60px;
	right:5px;
}
